/* 
    Created on : 24/02/2017, 16:01:06
    Author     : jonas
*/

#iniciar:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#iniciar{
    -fx-background-color: #33ff33;
    -fx-background-radius: 70;
    -fx-background-color: 
        linear-gradient(#006400, #00FF00),
        linear-gradient(#008000, #7CFC00),
        linear-gradient(#228B22, #7FFF00),
        linear-gradient(#00FF7F 0%, #2E8B57 50%, #006400 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-cursor: hand;
    //    -fx-pref-width: 100px;
//    -fx-pref-height: 70px;
    
}
.button{
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    
}

/*#btn_1:hover, #btn_2:hover, #btn_3:hover, #btn_4:hover, #btn_5:hover{
    -fx-scale-x: 1.4;
    -fx-scale-y: 1.4;
    -fx-scale-z: 1.4;
}*/

#btn_1, #btn_2, #btn_3, #btn_4, #btn_5{

    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
    /*-fx-padding: 10 20 10 20;*/

}
#btemp_fa1{
    -fx-background-color: 
        linear-gradient(#97ff5b, #54e600),
        linear-gradient(#b1ff83, #83f143),
        linear-gradient(#a0ff69, #6def22),
        linear-gradient(#57ff6a 0%, #02f80e 50%, #12ee0a 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-font-size: 35px;
    -fx-pref-height: 88px;
    -fx-pref-width: 96px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fa11{
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 35px;
    -fx-pref-height: 80px;
    -fx-pref-width: 88px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fa2{
    -fx-background-color: 
        linear-gradient(#97ff5b, #54e600),
        linear-gradient(#b1ff83, #83f143),
        linear-gradient(#a0ff69, #6def22),
        linear-gradient(#57ff6a 0%, #02f80e 50%, #12ee0a 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-font-size: 17px;
    -fx-pref-height: 108px;
    -fx-pref-width: 78px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fa21{
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 17px;
    -fx-pref-height: 100px;
    -fx-pref-width: 70px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}
;;
#btemp_fa4{
    -fx-background-color: 
        linear-gradient(#97ff5b, #54e600),
        linear-gradient(#b1ff83, #83f143),
        linear-gradient(#a0ff69, #6def22),
        linear-gradient(#57ff6a 0%, #02f80e 50%, #12ee0a 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-font-size: 17px;
    -fx-pref-height: 158px;
    -fx-pref-width: 78px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fa41{
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 17px;
    -fx-pref-height: 150px;
    -fx-pref-width: 70px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}


#btemp_fe1{
    -fx-background-color: 
        linear-gradient(#ff0000, #ff0000),
        linear-gradient(#ff0000, #7B68EE),
        linear-gradient(#483D8B, #ff0000),
        linear-gradient(from 0% 0% to 15% 50%, rgba(230,230,230,0.9), rgba(255,255,255,0));
    -fx-font-size: 35px;
    -fx-pref-width: 88px;
    -fx-pref-height: 80px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fe11{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-size: 35px;
    -fx-pref-width: 88px;
    -fx-pref-height: 80px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fe2{
    -fx-background-color: 
        linear-gradient(#ff0000, #ff0000),
        linear-gradient(#ff0000, #7B68EE),
        linear-gradient(#483D8B, #ff0000),
        linear-gradient(from 0% 0% to 15% 50%, rgba(230,230,230,0.9), rgba(255,255,255,0));
    -fx-font-size: 17px;
    -fx-pref-width: 100px;
    -fx-pref-height: 70px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fe21{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-size: 17px;
    -fx-pref-width: 100px;
    -fx-pref-height: 70px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}
#btemp_fe4{
    -fx-background-color: 
        linear-gradient(#ff0000, #ff0000),
        linear-gradient(#ff0000, #7B68EE),
        linear-gradient(#483D8B, #ff0000),
        linear-gradient(from 0% 0% to 15% 50%, rgba(230,230,230,0.9), rgba(255,255,255,0));
    -fx-font-size: 17px;
    -fx-pref-width: 150px;
    -fx-pref-height: 70px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#btemp_fe41{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-size: 17px;
    -fx-pref-width: 150px;
    -fx-pref-height: 70px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 3, 3);
}

#pular, #skipIntro{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

#ouvirAudio{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

#imgReiniciar{    
    -fx-cursor: hand;    
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

#acertoFase1{
    -fx-background-color: linear-gradient(#97ff5b, #54e600),
        linear-gradient(#b1ff83, #83f143),
        linear-gradient(#a0ff69, #6def22),
        linear-gradient(#57ff6a 0%, #02f80e 50%, #12ee0a 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-font-size: 35px;
    -fx-pref-height: 88px;
    -fx-pref-width: 96px;
}

#corOriginalFase1{
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 35px;
    -fx-pref-height: 80px;
    -fx-pref-width: 88px;
}

#iniciar{
    
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 10, 10);
}

#imgReiniciar, #imgSair{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

#lifeBar{
    -fx-accent: green;
}

#lifeBarOrange {
    -fx-accent: orange; 
}

#lifeBarRed
{
    -fx-accent: red;
}

#DicaBotao0, #DicaBotao1, #DicaBotao2, #DicaBotao3, #DicaBotao4{    
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    background-image: url('src');
}

#Invisivel{
    visibility: hidden;
}

#Visivel{
    visibility: visible;
}