/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/01/2017, 16:54:43
    Author     : shadows
*/

#espaco, #f1, #f2, #pg4espaco,#pg4f1, #f3{
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: black;
   
   
}

#p1, #p2, #p3, #p4, #p5, #p6, #f1, #f2, #espaco, #pg4espaco,#pg4f1, #f3{
    -fx-font-size: 25px;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#instrucao{
    -fx-font-size: 20px;
    -fx-font-family: "Verdana";
    -fx-font-weight: regular;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#pg4espaco{
    -fx-translate-x: -55;
}
#pg4f1{
    -fx-translate-x: 43;
}